{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор, меня зовут Даниил</h1>
<p>
    Привет, меня зову Данял, я очень люблю играть в компьютерные игры, мне 26.
    Недавние события показали мне, как важно быть востребованным специалистом в 
    своём деле, по этому я пришел на курс яндекс.Практикума
    Ниже картиночка милой ватсон 
    <img src="{% static 'img/img_apex.jpg'%}">
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
  Судя по всему, верстальщик из меня не очень хахаха, это всё потому, что ребята уже начинают 6-ой спринт, а я отстаю и переживаю...
</p>
{% endblock %}